header{
    padding-top: 10px;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width:auto;
}

body{
    background-color:#f9f9f9;
}

footer{
    background-color: #292b2c;
    height: 200px;
    width: 100%;
}

.imgSkills {
    width:200px;
    height:150px;
    display:flex;
    object-fit:contain
}

.headerLogo {
    object-fit: cover;
    width: 500px;
    display: block;
}

.aboutImg {
    width: 200px;
}