header{
  padding-top: 10px;
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width:auto;
}

body{
  background-color:#FDFFFC;
  color:#011627;
}

#navbar {
  box-shadow: 0 -2px 6px rgba(0,0,0,0.5), 0 2px 6px rgba(0,0,0,0.5);
  position: relative;
  background-color:#011627;
}

footer{
  background-color: #011627;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.5);
  position: relative;
  height: auto;
  width: 100%;
  padding-bottom:10px;
}

.headerLogo {
  object-fit: cover;
  width: 500px;
  display: block;
}

section {
  width:100%;
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }

}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

.my-custom-scrollbar {
  position: relative;
  height: 290px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display:block;
}

.flex{
  display: flex;
  justify-content:space-between;
}

.course {
  font-size: 16px;
}

ul {
  list-style-type: square;
}

@font-face {

}

.scrollingTable table, thead{
  font-size: 16px;
}

.scrollingTable table {
  border: 1px solid #011627;
}

.scrollingTable thead {
  border-bottom: 1px solid #011627;
}

.scrollingTable table, tbody{
  font-size: 14px;
}

#joke {
  font-family: 'Baloo Bhai', cursive;
  font-size: 20px;
}

#jokeContainer {
  font-size: 20px;
}

#diffDad {
  font-size: 16px;
}

#keySkills {
  position: relative;
  width:100%;
  margin: auto;
}

.skillName {
   font-family: 'Baloo Bhai', cursive;
}

.skillBar {
  text-align: right; /* Right-align text */
  padding: 10px; /* Add some padding */
  color: white; /* White text color */
  border-radius: 20px;
  border: 3px solid #011627;
  margin-bottom: 10px;
  width: 0;
}

#htmlJS {
  background-color: #011627;
}

#cssJS {
  background-color: #2EC4B6;
}

#photoshopJS {
  background-color: #FF9F1C;
}

#javascriptJS {
  background-color: #E71D36;
}

#willingnessJS {
  background-color: #5ccf69;
}

#teaJS {
  background-color: #d5a86d;
}

.portfolioCarousel {
  box-shadow: 0 -2px 6px rgba(0,0,0,0.2), 0 2px 6px rgba(0,0,0,0.2);
}

.experienceLogos {
  max-height: 150px;
  border-radius: 300px;
  margin-top: 15px;
  border: 1px solid #011627;
}

.experienceDescription {
}

.expLogos {
  padding-right: 20px;
}
