header{
  padding-top: 10px;
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width:auto;
}

body{
  background-color:#FDFFFC;
  color:#011627;
}

#navbar {
  box-shadow: 0 -2px 6px rgba(0,0,0,0.5), 0 2px 6px rgba(0,0,0,0.5);
  position: relative;
  background-color:#011627;
}

footer{
  background-color: #011627;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.5);
  position: relative;
  height: auto;
  width: 100%;
  padding-bottom:10px;
}

.imgSkills {
  margin: auto;
  width:50%;
}

.imgSkills img {
  max-width: 200px;
  margin: auto;
  display:flex;
  object-fit:contain
}

#skillsGrid img{
  height:150px;
  display:block;
}

.headerLogo {
  object-fit: cover;
  width: 500px;
  display: block;
}

#aboutMe {
}

#aboutImg {
}

#aboutText {
}

section {
  width:100%;
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }

}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

#featured .carousel-item img {
  width:100%;
  height:100%;
}

.carousel-caption {
  color:white;
  background-color: rgb(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.4);
}

.my-custom-scrollbar {
  position: relative;
  height: 290px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display:block;
}

.flex{
  display: flex;
  justify-content:space-between;
}

.left {
}

.right {
}

.course {
  font-size: 16px;
}

.grade {

}

ul {
  list-style-type: square;
}

@font-face {

}

.scrollingTable table, thead{
  font-size: 16px;
}

.scrollingTable table {
  border: 1px solid #011627;
}

.scrollingTable thead {
  border-bottom: 1px solid #011627;
}

.scrollingTable table, tbody{
  font-size: 14px;
}

#joke {
  font-family: 'Baloo Bhai', cursive;
  font-size: 20px;
}

#jokeContainer {
  font-size: 20px;
}

#diffDad {
  font-size: 16px;
}

#keySkills {
  position: relative;
  width:100%;
  margin: auto;
}

/* Container for skill bars */
.skillsContainer {
  width: 100%; /* Full width */
  background-color: #FDFFFC; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding: 10px; /* Add some padding */
  color: white; /* White text color */
  border-radius: 20px;
  border: 3px solid #011627;
  margin-bottom: 10px;
}

.html {
  width: 100%;

  -o-animation: html 3s ease-out;
  -webkit-animation: html 3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation: html 3s ease-out;
  background-color: #011627;
} /* Green */

@keyframes html {
  0%{
    width: 0;
    -webkit-transform : translateX(0);
  }
  100%{
    width: 100%;
    -webkit-transform : translateX(0);
  }
}

.css {
  width: 100%;
  background-color: #2EC4B6;
  animation: css 3s ease-out;
  -o-animation: css 3s ease-out;
  -webkit-animation: css 3s ease-out;
} /* Blue */

@keyframes css {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

.javascript {
  width: 60%;
  background-color: #E71D36;
  animation: javascript 3s ease-out;
  -o-animation: javascript 3s ease-out;
  -webkit-animation: javascript 3s ease-out;
} /* Red */

@keyframes javascript {
  0%{
    width: 0;
  }
  100%{
    width: 60%;
  }
}

.photoshop {
  width: 80%;
  background-color: #FF9F1C;
  animation: photoshop 3s ease-out;
  -o-animation: photoshop 3s ease-out;
  -webkit-animation: photoshop 3s ease-out;
} /* Dark Grey */

@keyframes photoshop {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}

.willingnessToLearn {
  width: 100%;
  background-color: #5ccf69;
  animation: willingnessToLearn 3s ease-out;
  -o-animation: willingnessToLearn 3s ease-out;
  -webkit-animation: willingnessToLearn 3s ease-out;
}

@keyframes willingnessToLearn {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

.teaMaking {
  width: 100%;
  background-color: #d5a86d;
  animation: teaMaking 3s ease-out;
  -o-animation: teaMaking 3s ease-out;
  -webkit-animation: teaMaking 3s ease-out;
}

@keyframes teaMaking {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

.skillName {
   font-family: 'Baloo Bhai', cursive;
}
